<div class='modal modal-sheet position-static d-block p-4 py-md-5' tabindex='-1' role='dialog' id='modalItem'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content rounded-4 shadow'>
      <div class='modal-header p-5 pb-4 border-bottom-0'>
        <div class="col">
          <div class="padding">
            {{{thumbnail category_name}}}
          </div>
          <div class="padding">
            <h5 class="card-title">{{item_name}}</h5>
          </div>
          <div class="card shadow-sm">
            <div class="card-body">
              <p class="card-text">Price: ${{{format_amount price}}}</p>
              <p class="card-text">Description: {{description}}</p>
              <p class="card-text">Uploaded: {{{format_date date_created}}}</p>
              <p class="card-text">Contact Seller: {{{sellerEmail user.email}}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>